.page{
    height: 100%;
    width: 100%;
    
    position: relative;

    .my--nav{
        margin: 1rem;
    }
}



.movie--list{
    margin: 1rem;
    padding: 1rem 0;
    background-color: rgba(33, 33, 33, 0.601);
    box-shadow: 5px 4px 15px 5px #000000;
    border-radius: 5px;
    .movie--single{
        margin: 1rem 0;
    }
}

