<div class="movieData" (mousemove)="updateStyleLocation($event)">
    <div class="movieData--main">
        <div class="movieData--main--title">
            <h1>{{movieName}}</h1>
            <h1 class="date">{{date?.getFullYear()}}</h1>
        </div>
        <!-- <img src="./assets/avengers.jpg" /> -->
        <img [src]="img" />
        
        <p>{{tags}}</p>

    </div>
    <div class="movieData--rank">
        <p>Rank </p>
        <h1>{{ranking}}</h1>
    </div>
</div>

<div #movie class="extraData" >
    <div class="content">
        <div class="box">
            <h4 class="content--title">{{movieName}}</h4>
            <h4 class="content--ranking">Rank: {{ranking}}#</h4>
        </div>
        <div class="box">
            <p class="content--description">{{info}}
            </p>
        </div>
    </div>
    <!-- <img src="./assets/avengers.jpg" /> -->
    <img [src]="img" />
</div>