.select {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}


 .date{
        font-weight: 200;
        font-style: italic;
        font-size: 1.25rem;
    }

    .title {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    
        h1 {
            font-size: 4rem;
            background: -webkit-linear-gradient(110deg, rgb(125, 125, 125) 16%, rgb(127, 0, 0) 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
       
    }