/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}


html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100vh;
    background-image: url('/assets/seemlessBETTERPLZ.jpg');
    background-size:cover;
    overflow-x: hidden;
    
}